body {
    padding-top: 1px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif
}
.startline {
    margin-bottom: 52px;
}
.topnav {
    position: fixed;
    border-radius: 25px;
    overflow: hidden;
    background-color: lightpink;
    z-index: 6;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: pink;
    box-shadow: 0px 0px 10px black;
}
.contact {
    display: grid;
    margin: 0 auto;
    padding-top: 10px;
    width: 33vw;
    justify-content: normal;
}
.contact * {
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    margin: 0 auto;
    box-sizing: border-box;
}
.contact textarea {
    text-align: left;
    resize: vertical;
    margin-bottom: 10px;
}
