body {
    padding-top: 1px;
    background-color: whitesmoke;
}
.startline {
    margin-bottom: 52px;
}
.topnav {
    position: fixed;
    border-radius: 25px;
    overflow: hidden;
    background-color: lightpink;
    z-index: 6;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: pink;
    box-shadow: 0px 0px 10px black;
}
.contact {
    display: grid;
    margin: 0 auto;
    width: 33vw;
    align-items: center;
    justify-content: center;
}
.contact * {
    width: 100%;
}
.contact textarea {
    resize: vertical;
}
    
